{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block body %}
<meta name="csrf-token" content="{{ csrf_token() }}">

<!--RECORDAR QUE ESTA VISTA ES PARA QUE EL SUPERVISOR INMEDIATO DE UN USUARIO, PUEDA EVALUAR LOS INDICADORES DE SU SUBORDINADO-->






<div class=" flex flex-col  gap-4">

    <div class=" w-full flex flex-col bg-white  shadow-custom rounded-2xl p-4" >
        <div>
            <h3>Filtros</h3>
        </div>
        <div class=" grid grid-cols-4 gap-4">


            <div class=" col-span-1 relative flex items-center"><!--Filtro de la filial-->
                <div class="flex items-center justify-between w-full">
                    <button id="dropdown-button-2" data-dropdown-toggle="dropdown-search-city" class=" rounded-xl w-full  shrink-0 z-10 inline-flex items-center justify-between py-2.5 px-4 text-sm font-medium text-center text-gray-500 border  border-gray-300  bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="button">
                        Filtro por Filial
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                    </button>
                </div>

                <div id="dropdown-search-city" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button-2">
                        <li>
                            <button type="button" data-filial-button="CRM" class=" FilialComparar inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                                <div class="inline-flex items-center">
                                    <div class=" w-8">
                                        <img src="{{ url_for('static', filename='img/Corimon_logo.png') }}" class="w-full h-full object-cover rounded-full   "  alt="User Image">
                                    </div>
                                    
                                    <P class="">Corimon, C.A</P>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-filial-button="MGR" class=" FilialComparar inline-flex w-full px-4  gap-1 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                                <div class="inline-flex items-center">
                                    <div class=" w-8">
                                        <img src="{{ url_for('static', filename='img/mg.png') }}" class="w-full h-full object-cover rounded-full   "  alt="User Image">
                                    </div>
                                    
                                    <P class="">Montana Gráfica</P>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-filial-button="CRP" class=" FilialComparar inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                                <div class="inline-flex items-center">
                                    <div class=" w-8">
                                        <img src="{{ url_for('static', filename='img/CRP.png') }}" class="w-full h-full object-cover rounded-full   "  alt="User Image">
                                    </div>
                                    
                                    <P class="">Corimon Pinturas</P>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-filial-button="CER" class=" FilialComparar inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                                <div class="inline-flex items-center">
                                    <div class=" w-8">
                                        <img src="{{ url_for('static', filename='img/CER.png') }}" class="w-full h-full object-cover rounded-full   "  alt="User Image">
                                    </div>
                                    
                                    <P class="">Cerdex</P>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-filial-button="EEE" class=" FilialComparar inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                                <div class="inline-flex items-center">
                                    <div class=" w-8">
                                        <img src="{{ url_for('static', filename='img/EEE.png') }}" class="w-full h-full object-cover rounded-full   "  alt="User Image">
                                    </div>
                                    
                                    <P class="">Envaca</P>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-filial-button="RES" class=" FilialComparar inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                                <div class="inline-flex items-center">
                                    <div class=" w-8">
                                        <img src="{{ url_for('static', filename='img/RES.png') }}" class="w-full h-full object-cover rounded-full   "  alt="User Image">
                                    </div>
                                    
                                    <P class="">Resimon</P>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-filial-button="PPV" class=" FilialComparar inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                                <div class="inline-flex items-center">
                                    <div class=" w-8">
                                        <img src="{{ url_for('static', filename='img/PPV.png') }}" class="w-full h-full object-cover rounded-full   "  alt="User Image">
                                    </div>
                                    
                                    <P class="">PPV</P>
                                </div>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-filial-button="ALL" class=" FilialComparar inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                                <div class="inline-flex items-center">
                                    <div class=" w-8">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-fullscreen-icon lucide-fullscreen"><path d="M3 7V5a2 2 0 0 1 2-2h2"/><path d="M17 3h2a2 2 0 0 1 2 2v2"/><path d="M21 17v2a2 2 0 0 1-2 2h-2"/><path d="M7 21H5a2 2 0 0 1-2-2v-2"/><rect width="10" height="8" x="7" y="8" rx="1"/></svg>
                                    </div>
                                    
                                    <P class="">Mostrar todo</P>
                                </div>
                            </button>
                        </li>
                    </ul>
                </div>

            </div> <!--Hasta aqui el filtro de la filial-->

            
            <div class=" flex items-center  rounded-2xl">
                <form class=" min-w-72">   
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input type="search" id="default-search" class="block w-full p-[13px] ps-10 text-sm text-gray-900 border border-gray-300 rounded-xl bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar Usuario" required />
                        
                    </div>
                </form>
            </div>

        </div>

    </div>


    <div class="grid grid-cols-1 lg:grid-cols-6  gap-3  rounded-2xl p-2">
        {% for participante in participantes%}
            {% if participante['plstx'] |length >= 24 or participante['orgtx'] |length>= 24   %}
                {%set resultado_autocompletar = consultar_cargo(participante['pernr'].lstrip('0'))%}
            {%endif%}
                {% set indicadores = obtener_indicador_usuario(participante['pernr'].lstrip('0'))%}
                <a href="http://10.10.0.33/app_crm/gdd/gestion_equipo/{{(participante['pernr'].lstrip('0'))}}" class="flex flex-col col-span-3 2xl:col-span-2  p-2 bg-white shadow-custom rounded-2xl hover:bg-slate-200 relative  cursor-pointer " >


                    <div class=" p-3 gap-3 flex">
                        <div class="w-[27%] aspect-square flex justify-center items-center">
                            {% set ruta = ruta_foto_personal(participante['pernr'].lstrip('0')) %}
                            <img src="{{ url_for('static', filename=ruta if ruta else 'img/notfoundUser.png') }}" 
                                    class="w-full h-full object-cover rounded-full border border-solid  " 
                                    alt="User Image">
                        </div>

                        <div class=" flex flex-col  p-3 w-[73%]">
                            <div class="texto flex gap-2 ">
                                <h5 class=" font-bold text-sm text-[#333]">Nombre:</h5>
                                <h5 class=" text-sm text-[#333]">{{ participante['ename'] | title }} </h5>
                            </div>
                            <hr class="border-t bg-[--azul-dark] w-full my-1 border-orange-300">
                            <div class="texto flex gap-2 ">
                                <h5 class=" font-bold text-sm text-[#333]">Cargo:</h5>
                                {% if participante['plstx'] |length >= 24 %}
                                    <h3 class="text-[12px]">{{resultado_autocompletar.cargo}}</h3>
                                    {%else%}
                                    <h3 class="text-[12px]">{{participante['plstx']}}</h3>
                                {%endif%}
                            </div>
                            <hr class="border-t bg-[--azul-dark] w-full my-1 border-green-300">
                            <div class="texto flex gap-2 ">
                                <h5 class=" font-bold text-sm text-[#333]">Ficha:</h5>
                                <h5 class=" text-sm text-[#333]">{{participante['pernr'].lstrip('0')}}</h5>
                            </div>
                            <hr class="border-t bg-[--azul-dark] w-full my-1 border-valor-azul">
                            <div class="texto flex gap-2 " data-filial="{% if participante['bukrs']=='1000' %}CRM{% elif participante['bukrs']=='1100' %}CER{% elif participante['bukrs']=='1200' %}CRP{% elif participante['bukrs']=='1300' %}MGR{% elif participante['bukrs']=='1400' %}RES{% elif participante['bukrs']=='1500' %}TMO{% elif participante['bukrs']=='1600' %}PPV{% endif %}">
                                <h5 class=" font-bold text-sm text-[#333]">Filial:</h5>
                                <h5 class=" text-sm text-[#333]">
                                    {% if  participante['bukrs']=='1000' %}CRM
                                            {% elif  participante['bukrs']=='1100' %}CER
                                            {% elif  participante['bukrs']=='1200' %}CRP 
                                            {% elif  participante['bukrs']=='1300' %}MGR
                                            {% elif  participante['bukrs']=='1400' %}RES
                                            {% elif  participante['bukrs']=='1500' %}TMO
                                            {% elif  participante['bukrs']=='1600' %}PPV
                                            {% endif %}
                                </h5>
                            </div>
                            <hr class="border-t bg-[--morado] w-full my-1 border-purple-300">
                            <div class="texto flex gap-2 ">
                                <h5 class=" font-bold text-sm text-[#333]">Departamento:</h5>
                                {% if participante['orgtx'] |length >= 24 %}
                                    <h3 class="text-[12px]">{{resultado_autocompletar.departamento}}</h3>
                                    {%else%}
                                    <h3 class="text-[12px]">{{participante['orgtx']}}</h3>
                                {%endif%}
                            </div>
                            <hr class="border-t bg-[--azul-dark] w-full my-1 border-orange-300">
                            <div class="texto flex gap-2 items-center ">
                                {% set ns = namespace(contador=0) %}
                                
                                {% for indicador in indicadores %}

                                    {% if indicador.status_aprobacion == 'A' %}
                                        {% set ns.contador = ns.contador + 1 %}
                                    {% endif %}
                                {% endfor %}

                                <h5 class=" font-bold text-sm text-[#333]">Indicadores:</h5>
                                {%if indicadores|length < 3%}
                                    <div class=" p-2 bg-red-200 text-red-600 rounded-xl  text-[10px] border border-red-600">
                                        Cantidad de Indicadores Cargados: {{indicadores|length}}
                                    </div>
                                
                                {% elif indicadores|length == 3 and ns.contador == 3 %}
                                    <div class=" p-2 bg-green-200 text-green-600 rounded-xl  text-[10px] border border-green-600">
                                        Indicadores aprobados
                                    </div>

                                {%elif indicadores|length ==3 and ns.contador <3  %}
                                    <div class=" p-2 bg-yellow-200 text-yellow-600 rounded-xl  text-[10px] border border-yellow-600">
                                        Indicadores Cargados: En espera de Aprobación
                                    </div>
                                {%endif%}



                            </div>
                        </div>
                    </div>
                </a>

        {%endfor%}
    </div>



























{% endblock %}

{% block js%}
<script src="{{ url_for('static', filename='js/gestion_equipo.js') }}"></script>
{% endblock %}