{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos_tabla.css') }}">

<div class="flex flex-col gap-4">
    <div class="grid grid-cols-1 lg:grid-cols-3 w-full gap-7">

        <a href="{{ url_for('.gdi')}}" class=" px-4 py-2  text-white rounded bg-[--beige] w-full tarjeta-base cursor-pointer opado relative indi sombra hover:-translate-y-1 duration-200 ease-in-out" id="GestiosIndicadores">
            <div class="flex items-start justify-between mb-10 flex-col gap-3">
                <div class=" flex items-center text-[18px]">
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trophy-icon lucide-trophy"><path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"/><path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"/><path d="M4 22h16"/><path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"/><path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"/><path d="M18 2H6v7a6 6 0 0 0 12 0V2Z"/></svg>
                    </span>
                    <h2 class=" text-[20px]"> Gestión de Indicadores </h2>
                </div>

                <div class="flex">
                    <p class="text-[15px]">
                        Realiza el proceso de gestión de indicadores
                    </p>
                </div>

                <div class="flex absolute bottom-9 right-9 span-ir transition-all ease-in-out duration-200">
                    <h2 class="text-[15px]">
                        Ir
                    </h2>
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                        </span>
                </div>


            </div>
        </a>


        <div class="bg-[#ffffff] relative w-full tarjeta-base cursor-pointer opado  indi sombra   duration-200 ease-in-out" id="evaluacion">
            <div class="  flex items-start justify-between mb-10 flex-col gap-3">
                <div class=" flex items-center " >
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-medal-icon lucide-medal"><path d="M7.21 15 2.66 7.14a2 2 0 0 1 .13-2.2L4.4 2.8A2 2 0 0 1 6 2h12a2 2 0 0 1 1.6.8l1.6 2.14a2 2 0 0 1 .14 2.2L16.79 15"/><path d="M11 12 5.12 2.2"/><path d="m13 12 5.88-9.8"/><path d="M8 7h8"/><circle cx="12" cy="17" r="5"/><path d="M12 18v-2h-.5"/></svg>
                    </span>
                    <h2 class=" text-[20px]"> Evaluación de Competencias </h2>
                </div>

                <div class="flex">
                    <p class="text-[15px]">
                    Realiza el proceso de gestión de evaluaciones de Competencias
                    </p>
                </div>
                <!-- 
                <div class="  p-3 flex flex-row items-center justify-start bg-[#EDFBD8] rounded-lg border border-[#84D65A] shadow-sm font-sans">
                    
                    <div class="w-4 h-3 -translate-y-0.5 mr-2">
                        <svg fill="none" height="17" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" 
                                    d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z" 
                                    fill="#84D65A" 
                                    fill-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    
                    <div class="font-medium text-sm text-[#2B641E] text-[12px]">
                        Estatus: Realizado
                    </div>

                </div>-->



                <div class="flex absolute bottom-9 right-9 span-ir transition-all ease-in-out duration-200">
                    <h2 class="text-[15px]">
                        Ir
                    </h2>
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                    </span>
                </div>


            </div>

            
            <div id="select-evaluacion" class="flex flex-col gap-2 p-3" >
                <a href="/src/PlantillaConSidenav/Evaluacion.html " class="p-2 rounded-[30px]   font-semibold cursor-pointer text-white hover:bg-neutral-700">Auto Evaluación</a>
                <a href="/src/PlantillaConSidenav/EvaluacionTerc.html" class="p-2  font-semibold cursor-pointer text-white hover:bg-neutral-700 rounded-[30px]">Evaluación a Terceros</a>
            </div>
        </div>



        <a href="" class="bg-[--verde] w-full tarjeta-base cursor-pointer opado relative indi sombra hover:-translate-y-1 duration-200 ease-in-out" id="reporte">
            <div class="flex items-start justify-between mb-10 flex-col gap-3">
                <div class=" flex items-center ">
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-clock-icon lucide-file-clock"><path d="M16 22h2a2 2 0 0 0 2-2V7l-5-5H6a2 2 0 0 0-2 2v3"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><circle cx="8" cy="16" r="6"/><path d="M9.5 17.5 8 16.25V14"/></svg>
                    </span>
                    <h2 class=" text-[20px]"> Reportes </h2>
                </div>



                <div class="flex">
                    <p class="text-[15px] ">
                        Historico evaluación del desempeño
                    </p>
                </div>
            

                <div class="flex absolute bottom-9 right-9 span-ir transition-all ease-in-out duration-200">
                    <h2 class="text-[15px] ">
                        Ir
                    </h2>
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                    </span>
                </div>


            </div>
        </a>

    </div>










    <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-8 z-0 mt-3">

        <a href="{{ url_for('.gestion_equipo')}}" class="bg-[--azul] w-full tarjeta-base cursor-pointer opado relative indi sombra hover:-translate-y-1 duration-200 ease-in-out" id="GestionEquipo">
            <div class="flex items-start justify-between mb-10 flex-col gap-3">
                <div class=" flex items-center ">
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-contact-icon lucide-contact"><path d="M16 2v2"/><path d="M7 22v-2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2"/><path d="M8 2v2"/><circle cx="12" cy="11" r="3"/><rect x="3" y="4" width="18" height="18" rx="2"/></svg>
                    </span>
                    <h2 class=" text-[20px]"> Gestión de Equipo </h2>
                </div>

                <div class="flex">
                    <p class="text-[15px]">
                        Realiza la Gestión de su equipo de Trabajo
                    </p>
                </div>

                <div class="flex absolute bottom-9 right-9 span-ir transition-all ease-in-out duration-200">
                    <h2 class="text-[15px]">
                        Ir
                    </h2>
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                    </span>
                </div>
            </div>
        </a>

        

        <a href="" class="bg-[--morado] relative w-full tarjeta-base cursor-pointer opado  indi sombra  hover:-translate-y-1 duration-200 ease-in-out" id="resultado">
            <div class="  flex items-start justify-between mb-10 flex-col gap-3">
                <div class=" flex items-center ">
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calculator-icon lucide-calculator"><rect width="16" height="20" x="4" y="2" rx="2"/><line x1="8" x2="16" y1="6" y2="6"/><line x1="16" x2="16" y1="14" y2="18"/><path d="M16 10h.01"/><path d="M12 10h.01"/><path d="M8 10h.01"/><path d="M12 14h.01"/><path d="M8 14h.01"/><path d="M12 18h.01"/><path d="M8 18h.01"/></svg>
                    </span>
                    <h2 class=" text-[20px]"> Resultados </h2>
                </div>

                <div class="flex">
                    <p class="text-[15px]">
                    Verifica los resultados de tu proceso de GDD
                    </p>
                </div>


                <div class="flex absolute bottom-9 right-9 span-ir transition-all ease-in-out duration-200">
                    <h2 class="text-[15px]">
                        Ir
                    </h2>
                    <span class=" text-[#333]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                    </span>
                </div>
            </div>

            
            <div id="select-evaluacion" class="flex flex-col gap-2 p-3" >
                <a href="/src/PlantillaConSidenav/Evaluacion.html " class="p-2 rounded-[30px]   font-semibold cursor-pointer text-white hover:bg-neutral-700">Auto Evaluación</a>
                <a href="/src/PlantillaConSidenav/EvaluacionTerc.html" class="p-2  font-semibold cursor-pointer text-white hover:bg-neutral-700 rounded-[30px]">Evaluación a Terceros</a>
            </div>
        </a>
    </div>
    
</div>
{% endblock %}