<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla de Correo</title>

      <style>
        .contenedor{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        /* Media queries específicas para el header */
        @media only screen and (max-width: 600px) {
            .contenedor{
                display: flex;
                flex-direction: column;
                align-items: center !important;
            }

                .valor-logo {
                    position: static !important;
                    margin: 10px auto 0 auto !important;
                    display: block !important;
                    text-align: center !important;
                    right: auto !important;
                    top: auto !important;
                    max-width: 60px !important;
                    width: 70px !important;
                }
        }

        
        
    </style>
</head>


<body style="margin:0;padding:0;background-color:#eaeaec;font-family:Arial,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
    <div style="width:100%;max-width:800px;margin:0 auto;padding:20px 0;">
        <div style="background-color:#ffffff;border-radius:17px;display:flex;flex-direction:column;box-shadow:rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;padding:30px 20px;margin:20px;border-top:solid #03162c 10px;">
        <div style="position:relative;" class="contenedor">
            <div style="display:flex;width:200px;max-width:210px;overflow:hidden;flex-direction:column;border-radius:26px;align-items:center;cursor:pointer;">
                <div style="display:flex;align-items:flex-end;gap:4px;">
                    <div style="max-width:75px;width:68px;flex-shrink:0;overflow:hidden;">
                    <img src="https://raw.githubusercontent.com/EliezerChirino/imagenes/main/Corimon_logo.png" alt="" style="width:100%;height:auto;object-fit:contain;">
                    </div>
                    <div style="display:flex;justify-content:center;">
                    <h3 style="font-weight:600;color:#333;font-size:16px;margin:0;">Corimon, C.A.</h3>
                    </div>
                </div>
                <hr style="border-top:1px solid #e74c3c;width:100%;margin:4px 0;">
                <h4 style="color:#555;font-weight:200;letter-spacing:2px;font-size:13px;margin:5px 0;">y sus empresas filiales</h4>
            </div>
            <div style="max-width:75px;width:90px;flex-shrink:0;overflow:hidden;" class="valor-logo">
            <img src="https://raw.githubusercontent.com/EliezerChirino/imagenes/main/valor-removebg-preview.png" alt="" style="width:100%;height:auto;object-fit:contain;">
            </div>
        </div>

        <div style="text-align:left;margin-top:20px;">
            <h1 style="color:black;font-size:24px;font-weight:500;margin-bottom:20px; ">Bienvenido al Programa</h1>
            <div style="max-width:300px;overflow:hidden;display:flex;align-items:center;">
            <h3 style="font-size:13px;font-weight:600;margin:7px 0px;">Estimado/a {{user.nombre | title}} {{user.apellido | title}}</h3>
            </div>
            <p style="color:#333;font-size:14px;line-height:1.5;">
            ¡Reciba un cordial saludo y la bienvenida a nuestra nueva plataforma de gestión del desempeño!
            <br><br>
            Nos complace darle acceso a esta herramienta diseñada para facilitar y optimizar el seguimiento de sus objetivos y desarrollo profesional. A través de esta plataforma, usted podrá:
            </p>
            <ul style="padding:0;list-style:none;font-size:14px;color:#333;">
            <li style="position:relative;padding-left:25px;margin-bottom:15px;">
                <span style="position:absolute;left:0;top:0;color:#496fb6;font-size:20px;font-weight:bold;">•</span>
                <strong style="font-weight:700;color:#333;">Gestionar sus indicadores:</strong> Registrar y hacer seguimiento a sus indicadores funcionales de manera sencilla y eficiente.
            </li>
            <li style="position:relative;padding-left:25px;margin-bottom:15px;">
                <span style="position:absolute;left:0;top:0;color:#496fb6;font-size:20px;font-weight:bold;">•</span>
                <strong style="font-weight:700;color:#333;">Realizar su autoevaluación de competencias:</strong> Evaluar sus competencias, identificando fortalezas y áreas de mejora.
            </li>
            <li style="position:relative;padding-left:25px;margin-bottom:15px;">
                <span style="position:absolute;left:0;top:0;color:#496fb6;font-size:20px;font-weight:bold;">•</span>
                <strong style="font-weight:700;color:#333;">Para supervisores:</strong> Si usted tiene colaboradores a su cargo que participan en el programa, podrá realizar el seguimiento de su gestión del desempeño de forma centralizada y organizada.
            </li>
            </ul>

            <p style="color:#333;font-size:14px;line-height:1.5;">
            Le invitamos a explorar la plataforma y familiarizarse con sus funcionalidades. Estamos seguros de que esta herramienta será de gran utilidad para su crecimiento y el logro de los objetivos de la organización.
            <br><br>
            En caso de tener alguna pregunta o necesitar asistencia, no dude en contactar a nuestro equipo de Talento Humano.
            ¡Le deseamos una experiencia productiva con esta nueva plataforma!
            <br><br>

            Su contraseña de Acceso es: <strong>  {{clave}} </strong>
            </p>



            <div style="width:100%;display:flex;justify-content:center;">
                <a  href="http://10.10.0.32/app_crm/login" style="display:inline-block;background-color:#496fb6 !important;color:#ffffff;text-decoration:none;padding:12px 25px;border-radius:5px;font-weight:bold;">Ingresa Aquí</a>
            </div>
            <div style="width:100%;margin-top:30px;">
                <table style="width:100%;max-width:100%;border-collapse:collapse;" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" valign="middle" style="padding:10px;">
                        <img src="https://raw.githubusercontent.com/EliezerChirino/imagenes/main/CER.png" alt="CER" style="width:100%; max-width:90px; height:auto; display:block;">
                    </td>
                    <td align="center" valign="middle" style="padding:10px;">
                        <img src="https://raw.githubusercontent.com/EliezerChirino/imagenes/main/CRP.png" alt="CRP" style="width:100%; max-width:90px; height:auto; display:block;">
                    </td>
                    <td align="center" valign="middle" style="padding:10px;">
                        <img src="https://raw.githubusercontent.com/EliezerChirino/imagenes/main/EEE.png" alt="EEE" style="width:100%; max-width:90px; height:auto; display:block;">
                    </td>
                    <td align="center" valign="middle" style="padding:10px;">
                        <img src="https://raw.githubusercontent.com/EliezerChirino/imagenes/main/mg.png" alt="MG" style="width:100%; max-width:90px; height:auto; display:block;">
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle" style="padding:10px;">
                        <img src="https://raw.githubusercontent.com/EliezerChirino/imagenes/main/PPV.png" alt="PPV" style="width:100%; max-width:90px; height:auto; display:block;">
                    </td>
                    <td align="center" valign="middle" style="padding:10px;">
                        <img src="https://raw.githubusercontent.com/EliezerChirino/imagenes/main/RES.png" alt="RES" style="width:100%; max-width:90px; height:auto; display:block;">
                    </td>
                    <td align="center" valign="middle" style="padding:10px;">
                        <img src="https://raw.githubusercontent.com/EliezerChirino/imagenes/main/montanasssss.png" alt="Montañas" style="width:100%; max-width:90px; height:auto; display:block;">
                    </td>
                    <td style="padding:10px;"></td>
                </tr>
                </table>

            </div>
        </div>
            <p style="font-size:13px;font-weight:600;font-style:italic;text-align:center;">Le Comunicamos que la dirección a través de la cual usted está recibiendo el presente e-mail será utilizada únicamente para el servicio de notificaciones. Le agradecemos no responder a este correo. Gracias por su confianza. En caso de dudas, contacte con soporte al numero xxxxxxxxxxxxxxx</p>
        </div>
    </div>
</body>
</html>
