<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <!--Estilos Tailwind -->
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.css') }}">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--Iconos de Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
</head>
<body>
    <div class=" grid grid-cols-[16rem_auto]">

      <aside class=" min-h-screen bg-[#5193be] p-[16px] flex flex-col items-center" style=" box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <div>
          <h1 class=" text-2xl font-bold text-white "> Logo</h1>
        </div>

        <ul class="nav-links list-none p-5">
          <li><a href="#" class="p-5 flex gap-2 text-lg text-white font-semibold">
              <i class="uil uil-estate"></i>
              <span class="link-name">Dahsboard</span>
          </a></li>
          <li><a href="#" class="p-5 flex gap-2 text-lg text-white font-semibold" >
              <i class="uil uil-files-landscapes"></i>
              <span class="link-name">Content</span>
          </a></li>
          <li><a href="#" class="p-5 flex gap-2 text-lg text-white font-semibold">
              <i class="uil uil-chart"></i>
              <span class="link-name">Analytics</span>
          </a></li>
          <li><a href="#" class="p-5 flex gap-2 text-lg text-white font-semibold">
              <i class="uil uil-thumbs-up"></i>
              <span class="link-name">Like</span>
          </a></li>
          <li><a href="#" class="p-5 flex gap-2 text-lg text-white font-semibold">
              <i class="uil uil-comments"></i>
              <span class="link-name">Comment</span>
          </a></li>

      </ul>
      </aside>
      <div class=" bg-white">
        <nav class=" h-16 flex items-center px-6" style=" box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
            
          <ul class=" flex list-none items-center justify-between w-full"  >
            <li><a href="">algo</a></li>

            <li> <a href=""> <span class="material-symbols-sharp">
              account_circle
              </span></a></li>
          </ul>


        </nav>

        <div class="p-5">
          {% block content %}
          {% endblock %}
        </div>
      </div>











    </div>


    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    {% block js%}
      <!--AQUÍ SE AGREGA LOS JS DE CADA PAGINA-->
    {% endblock %}
</body>
</html>







